# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist

package-lock.json

# docs
docs/.next
docs/node_modules
docs/package-lock.json
